/* General styles */
body{
    background-color: #f3a7db;
    font-family: Poppins, sans-serif;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    min-height: 100%;
}
/* Header */
.heading{
    font-size: 3rem;
    margin-top: 15px;
    margin-bottom: 0;
    padding-top: 5px;
    position: relative;
}

/* Game area*/
.game-area {
    width:100%;
    padding-top: 20px;
    max-width: 500px;
    margin-bottom: 0;
}
.choice-title {
    font-size: 1rem;
}
.rules{
    padding:10px;
    background-color: #ffc0cb;
}

.pick-fighter{
    margin: 0 auto;
}

.buttons-rps{
    width: 90vw;
    display: flex;
    justify-content: center;
}
/* Style to hide computer and player choice on page load*/
.hidden {
    display: none;
}
#player-image, #computer-image{
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}
.control-btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 5px;
    width:100px;
    height:100px; 
    padding-bottom: 10px;
}
.control-btn img {
    width: 80px;
    height: 80px;
}
.rps{
    text-decoration: none;
}
.fighter {
    color:#ff4d00;
}
#computer-div{
    background-color: #ffc0cb;
    padding: 1px;
    margin:10px;
    margin-bottom: 0px;
}
#player-div{
    background-color: #ffc0cb;
    padding: 1px;
    margin:10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Scores */
#win-or-lose{
    background-color: aliceblue;
    font-style: italic;
    font-size: 2rem;
    margin:15px;
   
}
.scores{
    font-size: 1rem;
    font-weight: 400;
}

/* Media Queries 600px max width */
@media screen and (max-width: 600px) {
    .game-area {
        max-width: 90%;
        padding: 10px;
   }
    .heading {
        font-size: 2.5rem;

   }
    .rules {
        font-size: 0.9rem;
   }
    .computer img, .player img {
        height: 80px;
        width: 80px;
   }
    .score-area {
        font-size: 1rem;
   }
    .control-btn {
        height:80px;
   }
}
/*Media Queries 400px max width*/
@media screen and (max-width: 400px) {
    .heading {
        font-size: 2rem;
        margin-top: 5vh;
   }
    .computer img, .player img {
        height: 50px;
        width: 50px;
   }
    .control-btn {
        height:50px;
    } 
   
}