body{
    background-color: rgb(243, 167, 219);
    font-family: Poppins, sans-serif;
}

.heading{
    text-align: center;
    font-size: 3rem;
}

.rules{
    text-align: center;
    font-size: 1rem;
}

