/* General styles */

body{
    background-color: rgb(243, 167, 219);
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
/* Header */
.heading{
    font-size: 3rem;
    margin-top: 100px;
    padding-top: 100px;
}

/* Game area*/
.game-area {
width:100%;
padding: 20px;
max-width: 500px;
}




#player-image, #computer-image{
    width: 100px;
    height: 100px;
}

.computer img, .player img{
    height: 100px;
    width:100px;
}

.control-btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 5px;
}

.fighter {
    color:rgb(255, 77, 0);
}
/* Scores */

.score-area{
    font-size: 1rem;
    margin-bottom:10px;
}

/* Footer */
footer {
    margin-top: 40px;
    background-color: black;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

/* Media Queries 600px max width */

.game-area { 
    max-width: 90%;
    padding: 10px;
}

.heading{
font-size: 2.5rem;
padding-top:100px;
}

.rules{
font-size: .9rem;
}

.computer img, .player img {
height: 80px;
width: 80px;
}

.control-btn img {

}

.scores{
    font-size: 1rem;
}

/* Media Queries 400px max width */

.heading{
    font-size: 2rem;
    margin-top: 80px;
}

.computer img, .player img {
height: 50px;
width:50px
}

.control-btn img {

}